#video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  top: -20vh;
}

h1{
  position:absolute;
  top:50vh;
  left:20vw;
  background-color:white;
}